<div class="container-fluid mt-p">

  <div class="container">

    <div class="row borders">
      <div class="col-4 p-0">
        <img class="m-3" src="/assets/home.svg" alt="">
        <img class="m-3" src="/assets/ar.svg" alt="">
        <span class="m-3 home">Home</span>
      </div>
      <div class="col-8 pt-2 right">
        <!-- ist  -->
        <span class="ls m-4">CHECKED</span>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
         <!-- ist  -->
         <span class="ls m-4">RENDING</span>
         <label class="switch">
           <input type="checkbox" checked>
           <span class="slider round"></span>
         </label>

          <!-- ist  -->
        <span class="ls m-4">REWORK</span>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>

         <!-- ist  -->
         <span class="ls m-4">REJECT</span>
         <label class="switch">
           <input type="checkbox" checked>
           <span class="slider round"></span>
         </label>
      </div>
    </div>


    <!-- 2nd part  -->
    <div class="row ">
      <div class="col-3 mt-5" *ngFor="let appointment of appointments; let i = index">
        <div class="card bg-card">
          <div class="card-body bg-card" [ngClass]="{approved: appointment.status == 'approved' , pending: appointment.status =='data_entry', draft: appointment.status =='submitted',rework: appointment.status =='rework' , reject: appointment.status =='rejected'}">
            <div class="row px-2">
              <div class="col-10 p-0">
              <p class="p-0">{{appointment.busName}}</p>

              </div>
              <div class="col-2">

                <div class="dropdown display-d" style="float:right;" [ngClass]="{nones1:appointment.status == 'approved',nones:appointment.status == 'data_entry' ,nones2:appointment.status == 'rejected'}">
                  <button class="dropbtn"><img src="/assets/drop.svg" alt=""></button>
                  <div class="dropdown-content">
                  <a href="#">Edit</a>
                  <a href="#">Delete</a>
                  </div>
                </div>

              </div>
            </div>
            <div class="row px-2">
              <p class="p-0">{{appointment.busType}}</p>
            </div>
            <div class="row px-2">
               <p class="status">
                 {{appointment.status}}
               </p>
            </div>


            <!-- hide  -->
            <div class="hide" *ngIf="show == i ">
              <!-- <div class="row" *ngIf="appointment.status == 'rejected'">
                <p>Reject Reason</p>

              </div>
              <div class="row bg-rej" *ngIf="appointment.status == 'rejected'">
                <div class="col-md-12">
                  <h5>Rejected By:{{appointment.rejectedBy}}</h5>
                </div>
                <div class="col-md-12" >
                  <h5>Rejected at:{{appointment.rejectedAt}}</h5>
                </div>

              </div>
              <div class="row mt-3 bg-reason" *ngIf="appointment.status == 'rejected'">
                <h5>{{appointment.reason}}</h5>
              </div> -->


            <!-- pending  -->
            <!-- <div class="row" *ngIf="appointment.status == 'data_entry'">
              <div class="col-2">
                <img src="/assets/pending.svg" alt="">

              </div>
              <div class="col-10">
                <div class="row">
                  <p class="p-0 m-0">{{appointment.istDate}}</p>
                  <p class="p-0 m-0">Application Submittion</p>

                </div>
                <div class="row mt-2">
                  <p class="p-0 m-0">{{secondDate}}</p>
                  <p class="p-0 m-0">Application recieved By : {{appointment.recievedBy}}</p>

                </div>
                <div class="row mt-2">
                  <p class="p-0 m-0">{{secondDate}}</p>
                  <p class="p-0 m-0">Application Pending For : {{appointment.approvelby}}</p>
                </div>

              </div>
            </div> -->

            <!-- allevent -->
            <div class="div" *ngIf="appointment.events.length">
              <div class="row events c  text-center">Events</div>
              <div class="row events" *ngFor="let event of appointment.events" >
               <p> Name:<span>{{event.eventDesc}}</span></p>
               <p>  ActionBy:<span>{{event.actionBy}}</span></p>
                <p> Created Date: <span>{{event.createdAt}}</span></p>
                  <p>  Modified Date: <span>{{event.modifiedAt}}</span></p>
              </div>
            </div>
             <!-- workFlowHistries -->
             <div class="div" *ngIf="appointment.workflowHistories.length">
              <div class="row works c text-center">WorkFlow</div>
              <div class="row works" *ngFor="let work of appointment.workflowHistories" >
               <p *ngIf="work.action"> Action:<span>{{work.action}}</span></p>
               <p *ngIf="work.actionDate">  Action Date:<span>{{work.actionDate}}</span></p>
                <p *ngIf="work.commentBy"> Commend By: <span>{{work.commentBy}}</span></p>
                  <p *ngIf="comment">Comment: <span>{{work.comment}}</span></p>
              </div>
            </div>

          </div>
        </div>

          <div class="card-footer center bg-card p-0 pt-2" [ngClass]="{approvedDown: appointment.status == 'approved' , pendingDown: appointment.status =='data_entry', draftDown: appointment.status =='submitted',reworkDown: appointment.status =='rework' , rejectDown: appointment.status =='rejected'}">
            <img src="/assets/down.svg" alt="" (click)="expend(i)" *ngIf="show == -1">
            <img src="/assets/up.svg" alt="" (click)="contract(i)" *ngIf="show == i && currentIndex == i ">
          </div>


        </div>
      </div>
    </div>
  </div>

</div>
