<div class="container-fluid mt-p">

  <div class="container">

    <div class="row borders">
      <div class="col-4 p-0">
        <img class="m-3" src="/assets/home.svg" alt="">
        <img class="m-3" src="/assets/ar.svg" alt="">
        <span class="m-3 home">Home</span>
      </div>
      <div class="col-8 pt-2 right">
        <!-- ist  -->
        <span class="ls m-4">CHECKED</span>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
         <!-- ist  -->
         <span class="ls m-4">RENDING</span>
         <label class="switch">
           <input type="checkbox" checked>
           <span class="slider round"></span>
         </label>

          <!-- ist  -->
        <span class="ls m-4">REWORK</span>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>

         <!-- ist  -->
         <span class="ls m-4">REJECT</span>
         <label class="switch">
           <input type="checkbox" checked>
           <span class="slider round"></span>
         </label>
      </div>
    </div>


    <!-- 2nd part  -->
    <div class="row mt-5">
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <div class="row px-2">
              <div class="col-10 p-0">
              <p>KIM HUAT TRSDING</p>

              </div>
              <div class="col-2">

                <div class="dropdown" style="float:right;">
                  <button class="dropbtn"><img src="/assets/drop.svg" alt=""></button>
                  <div class="dropdown-content">
                  <a href="#">Edit</a>
                  <a href="#">Delete</a>
                  </div>
                </div>

              </div>
            </div>
            <div class="row px-2">
              <p>12345778-P</p>
            </div>
            <div class="row px-2">
               <p>
                 Rejected
               </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
